.DS_Store 
server/.DS_Store 
frontend/.DS_Store       
.env          
server/.env
frontend/.env


server/venv/
server/__pycache__/
server/instance/
server/*.pyc
server/.pytest_cache/

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.npm
frontend/*.log
*.sqlite